.taskContainer {
  width: 100%;
}

.taskForm,
.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  height: 32px;
  align-items: center;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.475);
}

.inputGroup {
  padding-left: 2px;
  cursor: pointer;
}

.title {
  padding-left: 8px;
  font-size: 16px;
}

.tabs {
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  background: rgb(200, 199, 199);
  margin: 0px 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.activeButton {
  border: 1px solid antiquewhite;
}

.clearButton {
  padding: 5px 10px;
  background: rgb(200, 199, 199);
  border: none;
  cursor: pointer;
}
.clearButton:hover {
  border: 1px solid black;
}
